<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="static/css/login.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/cf6fa412bd.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="buttonsForm">
      <div class="btnColor"></div>
      <button id="btnSignin"><b>Sign in</b></button>
      <button id="btnSignup"><b>Sign up</b></button>
    </div>

    <form action="{% url 'login' %}" id="signin"  method="POST" name="login">
      
      <input type="text" placeholder="Email" name="email_login" required />
      <i class="fas fa-envelope iEmail"></i>
      <input type="password" placeholder="Password" name="senha_login" required />
      <i class="fas fa-lock iPassword"></i>
      <div class="divCheck">
        <input type="checkbox" />
        <span>Remember Password</span>
      </div>
      <button type="submit"><b>Sign in</b></button>
    </form>

    <form action="{% url 'cadastro' %}" id="signup" method="POST" name="cadastro">
      
      <input type="text" placeholder="Email" name="email_cadastro" required />
      <i class="fas fa-envelope iEmail"></i>
      <input type="password" placeholder="Password" name="password_cadastro1" required />
      <i class="fas fa-lock iPassword"></i>
      <input type="password" placeholder="Password" name="passoword_cadastro2" required />
      <i class="fas fa-lock iPassword2"></i>
      <div class="divCheck">
        <input type="checkbox" />
        <span>Terms</span>
        
      </div>
      <button type="submit"><b>Sign up</b></button>
    </form>

    <footer class="p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-900">
      <div class="sm:flex sm:items-center sm:justify-between">
          <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
              <img src="static/img/image 2.png" class="mr-3 h-8" alt="Flowbite Logo">
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Desabamenos</span>
          </a>
          <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
              <li>
                  <a href="#" class="mr-4 hover:underline md:mr-6 ">Email: @gmail.com</a>
              </li>
              
              <li>
                  <a href="#" class="hover:underline">Fale conosco</a>
              </li>
          </ul>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© Horário de Atendimento: *** 
      </span>
    </footer>
  </div>
  <script src="static/scripts/index.js"></script>
</body>
</html>